.button1 {
    width: 10%;

    border-radius: 50px;
    background-color: #4e73df;
    border-style: none;
    margin-right: 40px;
    font-weight: bold;
    color: white;
    padding: 10px;
}

.button2 {
    width: 90px;
    border-radius: 15px;
    background-color: #4e73df;
    border-style: none;
    margin-top: 10px;
    margin-right: 40px;
    font-weight: bold;
    color: white;
    padding: 5px;
}

/*백로그와 백로그 생성 추가 버튼 나누기*/
.bar {
    display: flex;
    margin-left: 20px;
    color: #002060;
    width: 100%;
    height: 50px;
    justify-content: space-between;
}

/*파란 라인 선*/
.line {
    border: solid #4e73df 5px;
    width: 100%;
}

/*인덱스에 들어가는 정보스타일*/
.in {
    display: flex;
    background-color: white;
    border: 1px solid black;
    width: 1680px;
    align-items: center;
    border-radius: 20px;
    padding-left: 10px;
    justify-content: space-between;

}

.in2 {
    display: flex;
    width: 1680px;
    align-items: center;
    padding-left: 10px;
    justify-content: space-between;

}


.blue {
    display: flex;
    background-color: #4e73df;
    border: 1px solid black;
    width: 1680px;
    align-items: center;
    border-radius: 20px;
    padding-left: 10px;
    justify-content: space-between;
    color: black;
}

.smalltitle {
    color: #002040;
    margin-bottom: -10px;
    font-weight: bold;
}

.title {
    color: black;
    margin-left: 50px;
    font-weight: bold;
}

.manager {
    color: black;
    margin-left: 10px;
    font-weight: bold;
}

.smalltitle2 {
    color: black;
    font-weight: bolder;
}

.line3 {
    border-top: 1px solid black;
}

.pagebutton {
    display: flex;
    justify-content: center;
    align-items: center;

}


.pageno {
    display: block;
    margin: 8px;
    margin-top: 15px;
}

.pageno>span {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    color: black;
}

.pageno>span:hover {
    background-color: #f0f0f0;
}

.inputgroup {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.button3 {
    width: 90px;
    border-radius: 15px;
    background-color: #4e73df;
    border-style: none;
    margin-top: 10px;
    margin-right: 40px;
    font-weight: bold;
    color: white;
    padding: 5px;
}