.comment {
    color: black;
    background-color: white;
    border: 1px solid black;
    height: 100px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
}

.comment-row {
    display: flex;
    align-items: center;
}

.comment-id {
    margin-Right: 1rem;
}

.comment-content {
    flex: 1;
}

.comment-date {
    flex: auto;
    margin-Left: 100px;
}

.pagebutton {
    display: flex;
    justify-content: center;

}

.pageno {
    display: inline-block;
    margin-right: 10px;
}

.btn btn-danger btn-icon-split icon text-white-50 fas fa-trash btn-sm {
    float: left;
}

.comment-please {
    margin-top: 100;
    padding: auto;
}