.box {
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.ISSUE {
    height: 80%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 120px;
    font-weight: 900;
}

.submitbtn {

    width: 10%;
    border-radius: 50px;
    background-color: #4e73df;
    border-style: none;
    margin-right: 40px;
    font-weight: bold;
    color: white;
    padding: 10px;
}

.deletebtn {

    width: 10%;
    border-radius: 50px;
    background-color: #4e73df;
    border-style: none;
    margin-right: 40px;
    font-weight: bold;
    color: white;
    padding: 10px;
}

.submit1btn {
    width: 10%;
    border-radius: 50px;
    background-color: #4e73df;
    border-style: none;
    margin-right: 40px;
    font-weight: bold;
    color: white;
    padding: 10px;
}

.canclebtn {

    width: 10%;
    border-radius: 50px;
    background-color: #4e73df;
    border-style: none;
    margin-right: 40px;
    font-weight: bold;
    color: white;
    padding: 10px;
}

.btnIssue {
    display: flex;
    justify-content: space-between;


}

.container1 {
    background-size: auto;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

}


.issuename {
    border: 3px solid cornflowerblue;
    width: 100%;
    height: 8%;
    display: flex;

}

.issuelist {
    width: 150px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid #4e73df;
    background-color: white;
    text-align: center;
}

.issuelist>header {
    background-color: #4e73df;
    color: white;
    width: 100%;
}

.issuelist>ul>li {
    list-style-type: none;
    text-align: left;
    line-height: 70px;
}

.issuelist>ul {
    display: flex;
    flex-direction: column;
    line-height: 70px;
    padding: 0;
}

.head1 {
    display: flex;
    margin-left: 10px;
    color: #002060;
    position: sticky;
    width: 100%;
    height: 50px;
    justify-content: space-between;

}

.createissue {
    font-size: 20px;
    width: 170px;
    border-radius: 50px;
    background-color: #4e73df;
    border-style: none;
    margin-right: 40px;
    font-weight: bold;
    color: white;
    padding: 10px;
}

.IssueListBox {
    border: 1px solid black;
    width: 15%;
}


.modalcreate {
    border: 1px solid black;
    color: black;
    font-weight: bold;
    width: 600px;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    /* position: fixed; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
}

.modalsub {
    font-weight: bold;
    color: black;
    width: 600px;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    /* position: fixed; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
}

.modal-content {
    /* background-color: aqua;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    padding: 20px; */
    transform: translate(0%, -200%);
    height: 200px;
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    border-radius: 0.3rem;
    background-color: #fff;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show 0.3s;
    overflow: hidden;
    border: 3px solid black;
    color: black;
    text-align: center;
    font-size: larger;


}

.modal-content>button {
    outline: none;
    cursor: pointer;
    color: #002060;

    border: 0;

}

.modal-content>header {
    text-align: center;
    /* position: relative; */
    align-items: center;
    /* padding: 16px 64px 16px 16px; */
    background-color: white;
    font-weight: 900;
    margin-top: 20px;
}

.modal-content>main {
    padding: 7px;
    border-bottom: 3px solid #4e73df;
    border-top: 3px solid #4e73df;
    background-color: #4e73df;
    margin-top: 18px;

}

.modal-content>footer>button {
    margin: 30px;
    width: 80px;
    height: 50px;
    color: #4e73df;
    background-color: white;
    align-items: center;
    /* border-radius: 5px; */
    font-size: larger;
    /* text-align: center; */
    border: 1px solid black;

}


.deletemessage {

    text-decoration-color: black;
    font-size: 400;
    font-weight: 100;

}

.descriptiontext {

    resize: none;
    height: 100px;
    width: 100%;
}

.pagenext {

    width: 30px;
    height: 30px;
    display: flex;
    align-content: space-between;
}

.pageprev {

    width: 30px;
    height: 30px;
    display: flex;
    align-content: space-between;
}

.pagebtn {

    display: flex;
    align-content: space-between;
}

.line {
    border: solid #4e73df 5px;
    /* margin: 0px; */
}

.line2 {
    border-top: 1px solid black;
}


.pagenum {
    display: inline-block;
    margin: 3px;
}

.pagenum>span {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    color: black;
}

.pagenum>span:hover {
    background-color: #f0f0f0;

}

.pageset {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prevbtn-text,
.nextbtn-text {
    background-color: #4e73df;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.pagebtn {
    display: flex;
    justify-content: space-between;
    width: 80px;
}