.box {
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.ISSUE {
    height: 80%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 120px;
    font-weight: 900;
}

.submitbtn {

    width: 10%;
    border-radius: 50px;
    background-color: #4e73df;
    border-style: none;
    margin-right: 40px;
    font-weight: bold;
    color: white;
    padding: 10px;
}

.deletebtn {

    width: 10%;
    border-radius: 50px;
    background-color: #4e73df;
    border-style: none;
    margin-right: 40px;
    font-weight: bold;
    color: white;
    padding: 10px;
}

.submit1btn {
    width: 10%;
    border-radius: 50px;
    background-color: #4e73df;
    border-style: none;
    margin-right: 40px;
    font-weight: bold;
    color: white;
    padding: 10px;
}

.canclebtn {

    width: 10%;
    border-radius: 50px;
    background-color: #4e73df;
    border-style: none;
    margin-right: 40px;
    font-weight: bold;
    color: white;
    padding: 10px;
}

.btnIssue {
    display: flex;
    justify-content: space-between;


}

asdasdasdasd .container1 {
    display: flex;
    height: 100%;
    width: 100%;

}


.issuename {
    border: 3px solid cornflowerblue;
    width: 100%;
    height: 8%;
    display: flex;

}

.issuelist {
    width: 150px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid cornflowerblue;
    background-color: white;
    text-align: center;
}

.issuelist>header {
    border: 1px solid black;
    width: 100%;
}

.issuelist>ul>li {
    list-style-type: none;
    text-align: left;
    line-height: 70px;
}

.issuelist>ul {
    display: flex;
    flex-direction: column;
    line-height: 70px;
    padding: 0;
}

.head1 {
    display: flex;
    margin-left: 20px;
    color: #002060;
    width: 100%;
    height: 50px;
    justify-content: space-between;
}

.createissue {
    font-size: 20px;
    width: 170px;
    border-radius: 50px;
    background-color: #4e73df;
    border-style: none;
    margin-right: 40px;
    font-weight: bold;
    color: white;
    padding: 10px;
}

.IssueListBox {
    border: 1px solid black;
    width: 15%;
}


.modalcreate {
    border: 1px solid black;
    width: 30%;
    height: 50%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.modalsub {
    border: 1px solid black;
    width: 50%;
    height: 80%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.modal-content {
    background-color: aqua;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -230%);
    padding: 20px;

}

.deletemessage {

    text-decoration-color: black;
    font-size: 400;
    font-weight: 100;

}

.descriptiontext {

    resize: none;
    height: 150px;
    width: 100%;
}

.pagenext {

    width: 30px;
    height: 30px;
    display: flex;
    align-content: space-between;
}

.pageprev {

    width: 30px;
    height: 30px;
    display: flex;
    align-content: space-between;
}

.pagebtn {

    display: flex;
    align-content: space-between;
}

.line {
    border: solid #4e73df 5px;
}

.line2 {
    border-top: 1px solid black;
}


.pagenum {
    display: inline-block;
    margin: 3px;
}

.pagenum>span {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    color: black;
}

.pagenum>span:hover {
    background-color: #f0f0f0;

}

.pageset {
    display: inline-block;
}

.prevbtn-text,
.nextbtn-text {
    background-color: #4e73df;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.pagebtn {
    display: flex;
    justify-content: space-between;
    width: 80px;
}

.line1 {
    border: solid #4e73df 2px;
}

.line2 {
    border: solid #4e73df 2px;
}