.newproject {
    display: flex;
    margin-left: 20px;
    color: #002060;
    width:100%;
    height: 50px;
    justify-content: space-between;
    
}
.button1 {
    width: 170px;
    border-radius: 50px;
    background-color:#4e73df;
    border-style: none;
    margin-right: 40px;
    font-weight:bold;
    color: white;
    padding: 10px;
}

.button2 {
    width: 80px;
    border-radius: 50px;
    background-color:#4e73df;
    border-style: none;
    margin-right: 40px;
    font-weight:bold;
    color: white;
    padding: 5px;
    border-bottom: 0;
}

.button3 {
    width: 80px;
    border-radius: 50px;
    background-color:#4e73df;
    border-style: none;
    margin-left: 90px;
    font-weight:bold;
    color: white;
    padding: 5px;
}

.Create {
    margin-left: 20px;
    border : solid #4e73df 4px;
    width: 200px;
    height: 200px;
}

.line {
    border: solid #4e73df 5px;
}

.line2 {
    border: solid #4e73df 3px;
    width: 98%;
}
/*프로젝트 생성된 화면*/
.build {
    -webkit-text-stroke: 2px #4e73df;
    border: 3px solid #4e73df;
    width: 200px;
    margin-left: 10px;

}

.build p {
    width: 80px;
    border: 3px solid #4e73df;
    margin-top: 3px;
    margin-bottom: -10px;
    margin-left: 3px;
    border-radius: 10px;
    padding: 3px;
}

.projectname {
    margin-top: 30px;
    color:#002040;
    display: flex;
    justify-content: space-around;
    width: 20%;
    /* padding: 10px; */
}

.teamlist {
    margin-left: 25px;
    color:#002040;
}

#size {
    font-size: small;
    color: #002040;
}

#name {
    font-size:medium;
    color:#002040;
    border: 3px solid #002040;
    border-radius: 30px;
    padding: 5px;
}

.new {
    border-radius: 50px;
    background-color:#4e73df;
    border-style: none;
    margin-right: 40px;
    font-weight:bold;
    color: white;
    padding: 10px;
}

.projectlist {
    display: flex;
    text-align: center;
    
}

.title {
    text-align: center;
    font-weight: lighter;
    color :#4e73df;

}

.project2 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.aaa {
    color: #002040;
    border-radius: 20px;
}

.modal{
    border-radius: 20px;
    border: 3px solid #4e73df;
}